html, body {
  padding: 0;
  margin: 0;
}

.search-input {
  
}

.search-result {
  
}

.search-navigation {
  > ul {
    padding: 0;
    margin: 0;
  }
  &__item {
    list-style: none;
    display: block;
    float: left;
    padding: 2px 5px;
    margin: 0 1px;
    border: 1px solid #333;
    &-link {
      text-decoration: none;
    }
  }
}


.user-list {
  margin: 0;
  padding: 0;
  &__item {
    list-style: none;
    display: block;
    &-container {
      display: flex;
      flex-direction: row;
      text-decoration: none;
    }
    &-thumbnail {
  
      &-image {
        width: 60px;
        height: 60px;
      }
    }
    &-username {
  
    }
  }
}